<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description"
  content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <!--

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:site_name" content="saulotauil.com" />

  <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}" />

-->
{% if page.title %}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<meta property="og:type" content="website" />
{% endif %}

{% include meta.html property="og:site_name" content=site.title %}

{% if page.image %}
	<meta property="og:image" content="{{ page.image  | prepend: site.url | prepend: site.baseurl }}" />
{% else %}

{% endif %}


{% capture page_url %}{{ page.url | replace:'/index.html','/' | prepend: site.url | prepend: site.baseurl }}{% endcapture %}
{% include meta.html property="og:url" content=page_url %}

{% if page.author.url %}
	<meta property="article:author" content="{{ page.author.url }}" />
	<link rel="author" href="{{ page.author.url }}" />
{% elsif site.owner_link %}
	<meta property="article:author" content="{{ site.owner_link }}" />
	<link rel="author" href="{{ site.owner_link }}" />
{% endif %}


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{{ "/stylesheets/github-light.css" | prepend: site.baseurl }}" media="screen">

  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}" media="screen">



</head>
